<h2>{{ title }}</h2>

{{#if hit}}
<div class="hit cssanimation coolHorizontalShake">
  <p>Hit!</p>
</div>
{{/if}}

<div class="shooter-switch">
  <div class="shooter-switch__inner">
    <button class="shooter-switch__button--add shooter-switch__button {{ addClass ? 'active' : '' }}" on:click='switchAdd()'>+</button>
    <button class="shooter-switch__button--remove shooter-switch__button {{ removeClass ? 'active' : '' }}" on:click='switchRemove()'>-</button>
  </div>
</div>
<div class="shotgun {{ addClass ? 'black' : 'white' }} {{ fire ? '' : 'cssanimation hu__hu__'}}"></div>
<div class="shotgun--shot {{ fire ? 'fire' : '' }}"></div>
<div class="shooter-area" on:click='shoot()'></div>

<style>

  .hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
  @keyframes hu__hu__ {
      50% { transform: translateY(3%) }
  }

  .coolHorizontalShake { animation-name: coolHorizontalShake; animation-iteration-count: infinite }
  @keyframes coolHorizontalShake {
      3%, 21%, 39%, 57%, 74%, 92% { transform: translateX(5px) }
      6%, 24%, 42%, 60%, 77%, 95% { transform: translateX(3px) }
      9%, 27%, 45%, 63%, 80%, 98% { transform: translateX(-5px) }
  }

  p {
    margin: 0;
  }

  .hit {
    top: 60%;
    width: 100vw;
    text-align: center;
    position: fixed;
    z-index: 8;
  }
  .hit > p {
    font-size: 2em;
    color: #ff0000;
    font-family:"Terminator Real NFI";
    text-shadow: 2px 2px 0 #000,
      -2px 2px 0 #000,
      2px -2px 0 #000,
      -2px -2px 0 #000;
  }

  .shooter-switch {
    bottom: 10px;
    right: 10px;
    position: absolute;
    z-index: 100;
  }
  .shooter-switch__inner {
    display: flex;
  }
  .shooter-switch__button {
    font-size: 2rem;
    border: none;
    width: 50px;
    height: 50px;
    display: block;
    background-color: #dfdfdf;
  }
  .shooter-switch__button--add.active {
    background-color: #40e220;
  }
  .shooter-switch__button--remove.active {
    background-color: #ff4040;
  }
  .shooter-area {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    position: fixed;
    z-index: 10;
    background: no-repeat center/10% url('./assets/aiming.svg');
  }
  .shotgun {
    width: 100vw;
    height: 50vh;
    display: block;
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 0;
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 80% top;
  }
  .shotgun.black {
    background-image: url('./assets/shotgun_black.png');
  }
  .shotgun.white {
    background-image: url('./assets/shotgun_white.png');
  }
  .shotgun--shot {
    width: 100vw;
    height: 50vh;
    display: block;
    position: fixed;
    z-index: 8;
    bottom: 0;
    right: 0;
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 80% top;
  }
  .shotgun--shot.fire {
    background-image: url('./assets/shotgun_fire.png');
  }
</style>

<script>
  import ShootType from '../ValueObjects/ShootType'

  const isVibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;
  
  export default {
    methods: {
      switchAdd() {
        this.fire('switch', {
          type: ShootType.add
        });
      },
      switchRemove() {
        this.fire('switch', {
          type: ShootType.remove
        });
      },
      shoot() {
        if (isVibrate){
          navigator.vibrate(100);
        }
        this.fire('shoot', {});
      }
    }
  };
</script>
