<div class="shooter-switch">
  <div class="shooter-switch__inner">
    <button class="shooter-switch__button--add shooter-switch__button {{ addClass ? 'active' : '' }}" on:click='switchAdd()'>+</button>
    <button class="shooter-switch__button--remove shooter-switch__button {{ removeClass ? 'active' : '' }}" on:click='switchRemove()'>-</button>
  </div>
</div>
<div class="shooter-area" on:click='shoot()'></div>

<style>
  p {
    margin: 0;
  }
  .shooter-switch {
    bottom: 10px;
    right: 10px;
    position: absolute;
    z-index: 100;
  }
  .shooter-switch__inner {
    display: flex;
  }
  .shooter-switch__button {
    font-size: 2rem;
    border: none;
    width: 50px;
    height: 50px;
    display: block;
    background-color: #dfdfdf;
  }
  .shooter-switch__button--add.active {
    background-color: #40e220;
  }
  .shooter-switch__button--remove.active {
    background-color: #ff4040;
  }
  .shooter-area {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    z-index: 10;
    background: no-repeat center/5% url('./assets/aiming.svg');
  }
</style>

<script>
  import ShootType from '../ValueObjects/ShootType'

  const isVibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;
  
  export default {
    methods: {
      switchAdd() {
        this.fire('switch', {
          type: ShootType.add
        });
      },
      switchRemove() {
        this.fire('switch', {
          type: ShootType.remove
        });
      },
      shoot() {
        if (isVibrate){
          navigator.vibrate(100);
        }
        this.fire('shoot', {});
      }
    }
  };
</script>
